<!-- Google Font -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
  rel="stylesheet"
/>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom navbar-light sticky-top">
  <!-- Logo -->
  <div class="logo-title-container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../assets/bread.png"
        width="64"
        height="64"
        class="d-inline-block align-top"
        alt="Logo"
      />
    </a>

    <!-- Brand Name -->
    <a class="navbar-brand brand-text" routerLink="/">
      <h4>Bakers.co</h4>
    </a>
  </div>

  <!-- Mobile Toggle Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/Menu" class="btn btn-sm btn-custom">Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="btn btn-sm btn-custom">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="btn btn-sm btn-custom">Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="/search" class="btn btn-sm btn-custom">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart-icon" routerLink="/cart">
          <img
            src="../../assets/shopping-cart.png"
            width="40"
            height="40"
            alt="Cart"
          />
        </a>
      </li>
    </ul>
  </div>
</nav>
