<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-custom navbar-light sticky-top" >
    <a class="navbar-brand" routerLink="/">
        <img style="margin-left: 18px;" width="400px" height="400px" src="../../assets/bread.png" width="70" height="70" class="d-inline-block align-top" alt="">
      </a>
      <a class="navbar-brand" routerLink="/"><h4 style=" font-family: 'Satisfy', cursive;
font-size: 50px ;  margin-top: 8px;color: rgba(250, 244, 229, 0.979); ">Bakers.co</h4></a>
    <button class="navbar-toggler" style="color: aqua;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <li class="nav-item dropdown" style="margin-top: 8px;">
                <button class="nav-link "
                 style=" margin-top: -10px; text-align: center;
                        border: none; border-radius: 20px; font-size: 17px;margin: 4px 2px;
                         width: 100px;height: 40px; cursor: pointer;
                        background-color: rgb(202, 156, 96); color : rgba(250, 244, 229, 0.979);
                        border: none; outline: none;
                        "
                  routerLink="/Menu/">
                    Menu
                </button>
                </li>
                <div class="btn-group" role="group">
                    <a routerLink="/login" style=" margin-top: px; text-align: center; " class="nav-link">
                        <button type="button" style="font-size: 17px;border: none;outline:none; " class="btn btn-sm "> Login </button>
                    </a>

                    <a class="nav-link" style=" margin-top: px; text-align: center;" routerLink="/register">
                        <button type="button" style=" font-size: 17px;" class="btn btn-sm "> Register </button>
                    </a>
                    <a class="nav-link" style="  text-align: center;" routerLink="/search">
                      <button type="button" style="font-size: 17px;" class="btn btn-sm "> Search </button>
                    </a>

                </div>

                <li class="nav-item">
                    <a class="nav-link"  style=" margin-top: 3px; margin-left: 20px; margin-right: 40px; text-align: center;" routerLink="/cart">
                        <img width="400px" height="400px" src="../../assets/shopping-cart.png" width="40" height="40" alt="Cart_image" >
                        </a>
                </li>


        </ul>
    </div>
  </nav>

