/* General Styling */
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Columns for images */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout adjustments */
@media screen and (max-width: 768px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Image container styling */
.container {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 10mm;
}

.img-thumbnail {
  width: 250px;
  height: 300px;
}

/* Overlay effect */
.overlay {
  position: absolute;
  bottom: 100%;
  top: 7px;
  left: 15px;
  right: 15px;
  background-color: white;
  overflow: hidden;
  width: auto;
  height: 0;
  transition: height 0.5s ease-in-out, bottom 0.5s ease-in-out;
  opacity: 0.9;
}

.container:hover .overlay {
  bottom: 0;
  height: 97%;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Slideshow and navigation */
.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* Thumbnail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.select:hover {
  background-color: #dddddd;
}

/* Header and Sticky Behavior */
.header {
  padding: 10px 16px;
  background: rgba(163, 163, 163, 0.658);
  color: #ffffff96;
  border-radius: 8px;
}

.sort {
  background-color: #ca9c6088;
  color: black;
  border: none;
  text-align: center;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
