<div class="div" style="padding-left: 10%; padding-right: 10%">
  <div class="header" id="myHeader">
    <h2>Freshly Baked With Love</h2>
    <select class="sort" id="sort-by" (change)="sort($event)">
      <option value="" selected disabled hidden>Apply Filter</option>
      <option value="Low">Show Low to High Price</option>
      <option value="High">Show High to Low Price</option>
      <option value="Rating">Show High to Low Rating</option>
    </select>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="column" *ngFor="let i of Home_products">
      <a routerLink="/product-details/{{ i._id }}" style="color: black">
        <div class="container">
          <img
            class="img-thumbnail"
            height="350px"
            src="https://bakery-backend-h81u.onrender.com/{{ i.photoByPath }}"
          />
          <div class="overlay">
            <h3 style="text-align: center; margin-top: auto; margin-top: 20px">
              {{ i.ProductName }}
            </h3>
            <br />
            <p style="text-align: center; margin-top: auto">Rs.{{ i.Cost }}</p>
            <br />
            <p style="text-align: center; margin-top: auto; margin-top: 20px">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span
                  >&hearts;
                </span>
              </ng-template>
              <ngb-rating
                [(rate)]="i.rating"
                [starTemplate]="t"
                [readonly]="true"
                [max]="5"
              >
              </ngb-rating>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
