<div class="row">
<div class="container col-md-auto" data-spy="scroll" >
    <h3>Search Products</h3>
 <br>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Products">
  <br>
  <br>
    <ul id="myUL" style="height:400px;width:300px;border:1px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;
margin:0 auto;">

        <li class="nav-item dropdown" *ngFor="let a of Home_products">
          <a routerLink="/product-details/{{a._id}}" style="color: black;">
            {{a.ProductName}}
          </a>

        </li>
    </ul>
</div>
<div class="col-md-2"></div>
<div class="container col-md-auto" data-spy="scroll">
    <h3>Search By Category</h3>
  <br>

    <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Category">
    <br>
  <br>
    <ul id="myUL2" style="height:400px;width:300px;border:none;overflow:scroll;overflow-x:hidden;overflow-y:scroll;
margin:0 auto;">

        <li class="nav-item dropdown" *ngFor="let a of myCategory">
          <a routerLink="/ShowProducts/{{a._id}}" style="color: black;">
            {{a.name}}
          </a>

        </li>
    </ul>
</div>
</div>
